* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: red;    
}

.header-title {
    font-size: 24px;
    color: white;
}

.main-content {
    background-color: blue;
    font-size: 18px;
    height: 300px;
    }

.footer {
    background-color: green;
    font-size: 18px;    
}

.header, .main-content,.footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header,.footer{
    height: 100px;
}