*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}

.container {
    width: 300px;
    height: 500px;
    border: 2px solid #000;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(to bottom, white, black); 
}

.text-block {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: yellow;
    color: black;
    padding: 5px;
     font-weight: bold; 
}

